*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;   
}
nav{
    display: flex;
    width: 100%;
    background: white;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
.logo{
    width: 170px;
    padding: 1px 0;
    cursor: pointer;
    margin: 0px 50px;    
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
   
}
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
     background-color: black;
    padding: 10px;
    border-radius: 10px;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    color: white;
    position: absolute;
    bottom: 8%;

}
.text-box p{
    font-size: 70px;
    font-weight: 600;
    margin-left: 10px;
}
.text-box h1{
    font-size: 100px;
    line-height: 160px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 50px;
    font-weight: 600;
    margin-left: 10px;
}
.text-box .row{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
}
.text-box a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.social-icons img{
    width: 25px;
    display: block;
    margin: 15px 5px;
}